In [20]:
import pandas as pd

In [21]:
# Open up excel into an object
# This takes a long time - in production might use different approach
xls = pd.ExcelFile('tyb2122.xlsx')

# Read sheets into a dictionary of sheets
excel_map = pd.read_excel(xls, sheet_name=None)
#print(excel_map.keys())

In [22]:
# Copy into a dict just because of naming below. No real need to do this
df_dict = excel_map

In [23]:
#print(df_dict['May 21'])

In [24]:
# Create a list of sheets to ignore
# Iterate over the sheets in the dict created above (misnamed stuff when starting out is all)
# Exclude the sheet if it's in the list 
# Otherwise - Group the data in the current sheet. Convert in-line to a dataframe
# Concatenate these as we go along
# Group the final sheet up to category level as it is the complete set
# Write out to csv
exclude_sheets = ['Template', 'Lists']

month_totals_df= pd.DataFrame()
totals_df= pd.DataFrame()

for k in df_dict.keys():
    #print(k)
    if k in exclude_sheets:
        print("Excluded")
        continue
    else:
        try:
            current_month_df = pd.DataFrame(df_dict[k].groupby('Category')['Actual'].sum())
        except:
            print(k)
        #Add current month to new dataframe
        current_month_df['month'] = k
        #display(current_month_df.head(10))
        #display(totals_df)
        month_totals_df = pd.concat([month_totals_df, current_month_df], axis=0, ignore_index=False)

# Group the months
totals_df = pd.DataFrame(month_totals_df.groupby('Category')['Actual'].sum()).reset_index()
print(totals_df)
rental_categories = ['Airbnb', 'Cottages', 'Private']
# output to csv
month_totals_df.to_csv('categories_all_months.csv')

totals_df.to_csv('category_totals.csv')

Excluded
Excluded
       Category    Actual
0   Advertising    -60.00
1        Airbnb  14888.25
2     Broadband   -327.98
3      Cottages   3675.52
4   Council Tax      0.00
5   Electricity  -2066.96
6   Furnishings  -1713.00
7     Household   -519.29
8     Insurance   -287.79
9       Laundry  -1492.70
10         Loan  -5317.34
11         Logs   -170.00
12  Maintenance   -918.62
13         Misc    -14.29
14     Mortgage  -2892.84
15      Private   3479.50
16     Private       0.00
17   TV Licence   -158.94
18        Water   -300.00
19      Welcome   -894.22

In [25]:
print(totals_df.head(10))

      Category    Actual
0  Advertising    -60.00
1       Airbnb  14888.25
2    Broadband   -327.98
3     Cottages   3675.52
4  Council Tax      0.00
5  Electricity  -2066.96
6  Furnishings  -1713.00
7    Household   -519.29
8    Insurance   -287.79
9      Laundry  -1492.70

april_df = df['April 21']
print(april_df.head(5))
april_df.columns = ['Date', 'Category', 'Detail', 'In / Out', 'Amount', 'Actual', 'Notes',
       'Unnamed: 7', 'Unnamed: 8']
print(april_df.head(5))

In [27]:
march_df = df_dict['March 22']

In [29]:
month_df = df_dict['May 21']
display(month_df)
per_month_actuals = month_df.groupby('Category')['Actual'].sum()
per_month_actuals.head(100)

,Date,Category,Detail,In / Out,Amount,Actual,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2021-05-04 00:00:00,Mortgage,Principality,-,241.07,-241.07,NaN,NaN,NaN
1,2021-05-01 00:00:00,Council Tax,Gywnedd,-,0.00,0.00,NaN,NaN,NaN
2,2021-05-26 00:00:00,Electricity,Octopus,-,61.87,-61.87,NaN,NaN,NaN
3,2021-05-10 00:00:00,Water,Dwr Cymru,-,25.00,-25.00,NaN,In,2558.09
4,2021-05-14 00:00:00,Broadband,Vodafone,-,27.68,-27.68,NaN,Out,-1057.56
5,2021-05-06 00:00:00,Loan,M&S,-,179.06,-179.06,NaN,NaN,NaN
6,2021-05-20 00:00:00,Furnishings,DFS Sofa,-,25.66,-25.66,NaN,Total,1500.53
7,2021-05-04 00:00:00,TV Licence,TV,-,11.87,-11.87,NaN,NaN,NaN
8,2021-05-02 00:00:00,Laundry,Pressing Matters,-,131.50,-131.50,NaN,NaN,NaN
9,2021-05-30 00:00:00,Laundry,Pressing Matters,-,109.70,-109.70,NaN,NaN,NaN
10,2021-05-01 00:00:00,Household,Dust Brush for Ash,-,6.00,-6.00,The Deco Shop,NaN,NaN
11,2021-05-01 00:00:00,Maintenance,Compost,-,3.95,-3.95,Camlan Garden Centre,NaN,NaN
12,2021-05-01 00:00:00,Maintenance,Garden Plants,-,26.47,-26.47,Camlan Garden Centre,NaN,NaN
13,2021-05-24 00:00:00,Maintenance,Window Cleaner,-,20.00,-20.00,Invoice on Gmail.com,NaN,NaN
14,2021-05-26 00:00:00,Maintenance,Outdoor Paint,-,11.99,-11.99,JP & Sons,NaN,NaN
15,2021-05-15 00:00:00,Furnishings,Artifical Topiary,-,30.00,-30.00,TOFS,NaN,NaN
16,2021-05-01 00:00:00,Welcome,Milk,-,2.95,-2.95,NaN,NaN,NaN
17,2021-05-01 00:00:00,Welcome,Cake Bara Brith,-,4.00,-4.00,NaN,NaN,NaN
18,2021-05-07 00:00:00,Welcome,Chocolate Buttons,-,1.00,-1.00,NaN,NaN,NaN
19,2021-05-03 00:00:00,Welcome,Cake Bara Brith,-,8.27,-8.27,Co-op,NaN,NaN
20,21/22 May 21,Welcome,Cake Bara Brith,-,6.34,-6.34,Co-op,NaN,NaN
21,3/21 May,Welcome,Flowers - Tulips,-,6.00,-6.00,Co-op,NaN,NaN
22,2021-05-09 00:00:00,Welcome,Flowers - Tulips,-,1.79,-1.79,Lidl,NaN,NaN
23,2021-05-17 00:00:00,Welcome,Flowers,-,2.50,-2.50,Tesco,NaN,NaN
24,2021-05-14 00:00:00,Welcome,Shortbread,-,1.29,-1.29,Co-op,NaN,NaN
25,2021-05-18 00:00:00,Welcome,Wine,-,6.99,-6.99,Waitrose,NaN,NaN
26,2021-05-22 00:00:00,Welcome,Dog Treats,-,0.55,-0.55,Aldi,NaN,NaN
27,2021-05-24 00:00:00,Welcome,Chocolate Bar,-,1.50,-1.50,Co-op,NaN,NaN
28,2021-05-25 00:00:00,Welcome,Tonic Water,-,1.95,-1.95,Co-op,NaN,NaN
29,2021-05-09 00:00:00,Household,Bleach,-,3.80,-3.80,Aldi,NaN,NaN
30,2021-05-09 00:00:00,Household,All Purpose Wipes,-,1.58,-1.58,Aldi,NaN,NaN
31,2021-05-11 00:00:00,Household,Eco Mop Head,-,5.94,-5.94,Amazon,NaN,NaN
32,2021-05-19 00:00:00,Household,Cif Cream,-,1.00,-1.00,Poundland,NaN,NaN
33,2021-05-28 00:00:00,Household,Aluminium Foil,-,1.50,-1.50,Tesco,NaN,NaN
34,2021-05-28 00:00:00,Household,Bin Liners (Small),-,0.89,-0.89,Aldi,NaN,NaN
35,28 Ma 21,Household,Reed Diffuser,-,3.49,-3.49,Aldi,NaN,NaN
36,2021-05-06 00:00:00,Furnishings,Dried Flowers & Basket,-,31.48,-31.48,Petalau Bala,NaN,NaN
37,2021-05-24 00:00:00,Furnishings,Toaster,-,37.94,-37.94,Replacement (Robert Dyas),NaN,NaN
38,NaN,Furnishings,Grill Pan,-,12.99,-12.99,Ebay,NaN,NaN
39,2021-05-04 00:00:00,Airbnb,Airbnb 4th-7th,+,228.47,228.47,NaN,NaN,NaN
40,2021-05-07 00:00:00,Cottages,Cottages.com,+,905.24,905.24,NaN,NaN,NaN
41,2021-05-10 00:00:00,Private,Balance - Fishbourne,+,423.75,423.75,NaN,NaN,NaN
42,2021-05-13 00:00:00,Airbnb,Airbnb 13th-16th,+,251.60,251.60,NaN,NaN,NaN
43,2021-05-16 00:00:00,Airbnb,Airbnb 16th-21st,+,409.70,409.70,NaN,NaN,NaN
44,2021-05-25 00:00:00,Airbnb,Airbnb 25th-29th,+,339.33,339.33,NaN,NaN,NaN

Category
Airbnb         1229.10
Broadband       -27.68
Cottages        905.24
Council Tax       0.00
Electricity     -61.87
Furnishings    -138.07
Household       -24.20
Laundry        -241.20
Loan           -179.06
Maintenance     -62.41
Mortgage       -241.07
Private         423.75
TV Licence      -11.87
Water           -25.00
Welcome         -45.13
Name: Actual, dtype: float64

In [ ]:
# TODO Per month