In [1]:
import pandas as pd
import os as os

In [2]:
def check_file_exists() -> str:
    while True:
        filename = input("Enter filename. Relative paths are acceptable ... \n")
        if os.path.isfile(filename):
            print("File Exists. OK to continue")
            return filename
        else:
            print(f"File {filename} does not exist. Check path and filename.")

xls = check_file_exists()
excel_map = pd.read_excel(xls, sheet_name=None)

Enter filename. Relative paths are acceptable ...
tyb2324.xlsx
File Exists. OK to continue

In [3]:
# Open up excel into an object
# This takes a long time - in production might use different approach
# Was taking a long time due to capacity blank cells pasted into worksheets!
#xls = pd.ExcelFile('tyb2122.xlsx')

# Read sheets into a dictionary of sheets
#excel_map = pd.read_excel(xls, sheet_name=None)
#print(excel_map.keys())

In [4]:
# Copy into a dict just because of naming below. No real need to do this
df_dict = excel_map

In [5]:
#print(df_dict['May 21'])

In [6]:
# Create a list of sheets to ignore
# Iterate over the sheets in the dict created above (misnamed stuff when starting out is all)
# Exclude the sheet if it's in the list
# Do some DQ analysis
# Otherwise - Group the data in the current sheet. Convert in-line to a dataframe
# Concatenate these as we go along
# Group the final sheet up to category level as it is the complete set

exclude_sheets = ['Template', 'Lists']

month_totals_df= pd.DataFrame()
totals_df= pd.DataFrame()

for k in df_dict.keys():
    #print(k)
    if k in exclude_sheets:
        #print("Excluded")
        continue
    else:
        
        # Check actuals column for nulls:
        check_nan = df_dict[k]['Actual'].isnull().values.any()
        if check_nan:
            print(f'Null Actuals in sheet: {k}')
        try:
            current_month_df = pd.DataFrame(df_dict[k].groupby('Category')['Actual'].sum())
        except:
            print(f'Error grouping: {k}')
        #Add current month to new dataframe
        current_month_df['month'] = k
        #display(current_month_df.head(10))
        #display(totals_df)
        month_totals_df = pd.concat([month_totals_df, current_month_df], axis=0) #, ignore_index=False)

# Group the months
totals_df = pd.DataFrame(month_totals_df.groupby('Category')['Actual'].sum()).reset_index()
#print(totals_df)
rental_categories = ['Airbnb', 'Cottages', 'Private']

In [7]:
# Format floats to 2 places:
month_totals_df.style.format({"Actual" : ".2f"})
totals_df.style.format({"Actual" : ".2f"})
# Output to csv
month_totals_df.to_csv('categories_all_months.csv', float_format='%.2f')

totals_df.to_csv('category_totals.csv', float_format='%.2f')

In [8]:
# Format floats to 2 places:
# month_totals_df.style.format({"Actual" : "{.2f}"})
month_totals_df.style.format({"Actual": "{:.2f}".format})
#totals_df.style.format({"Actual": "{.2f}"})
totals_df.style.format({"Actual": "{:.2f}"})

In [9]:
print(totals_df)

       Category    Actual
0   Advertising    -16.97
1        Airbnb  16345.26
2     Broadband   -302.04
3   Council Tax       0.0
4   Electricity  -2479.25
5   Furnishings  -1205.27
6     Household  -1052.82
7     Insurance   -370.39
8       Laundry  -1606.42
9          Logs     -93.0
10  Maintenance  -4429.66
11         Misc      -6.0
12     Mortgage  -4060.57
13      Private    2840.0
14     Private        240
15   Stationery      -3.5
16   TV Licence    -159.0
17        Water    -267.5
18      Welcome   -758.44

In [10]:
print(f'month_totals: {month_totals_df.dtypes}')
print(f'totals: {totals_df.dtypes}')

month_totals: Actual    object
month     object
dtype: object
totals: Category    object
Actual      object
dtype: object

In [11]:
print(totals_df.head(10))

      Category    Actual
0  Advertising    -16.97
1       Airbnb  16345.26
2    Broadband   -302.04
3  Council Tax       0.0
4  Electricity  -2479.25
5  Furnishings  -1205.27
6    Household  -1052.82
7    Insurance   -370.39
8      Laundry  -1606.42
9         Logs     -93.0

april_df = df['April 21']
print(april_df.head(5))

april_df.columns = ['Date', 'Category', 'Detail', 'In / Out', 'Amount', 'Actual', 'Notes',
       'Unnamed: 7', 'Unnamed: 8']
print(april_df.head(5))

In [12]:
examine_df = df_dict['January']
examine_df

,Date,Category,Detail,In / Out,Amount,Actual,Notes,Unnamed: 7,Unnamed: 8
0,2024-01-01,Mortgage,Principality,-,409.53,-409.53,NaN,NaN,NaN
1,2024-01-01,Council Tax,Gywnedd,-,0.00,0.00,NaN,NaN,NaN
2,2024-01-01,Electricity,Ovo,+,353.44,353.44,249 left account but was refunded,NaN,received a refund
3,2024-01-18,Electricity,Ovo,-,16.49,-16.49,outstanding balance,In,1278.76
4,2024-01-01,Electricity,E-On Next,-,208.60,-208.60,NaN,Out,-1072.14
5,2024-01-01,Water,Dwr Cymru,-,21.00,-21.00,NaN,NaN,NaN
6,2024-01-01,Broadband,Vodafone,-,25.17,-25.17,NaN,Total,206.62
7,2024-01-01,TV Licence,TV,-,13.25,-13.25,NaN,NaN,NaN
8,2024-01-01,Laundry,Pressing Matters,-,88.38,-88.38,NaN,NaN,NaN
9,2024-01-03,Welcome,Milk,-,3.49,-3.49,NaN,NaN,NaN
10,2024-01-06,Household,Air Spray,-,3.25,-3.25,NaN,NaN,NaN
11,2024-01-06,Household,Fabric Conditioner,-,3.50,-3.50,NaN,NaN,NaN
12,2024-01-06,Household,Kitchen Cleaner x 2,-,5.50,-5.50,NaN,NaN,NaN
13,2024-01-06,Household,Kettle Descaler,-,1.75,-1.75,NaN,NaN,NaN
14,2024-01-06,Welcome,Chocolate,-,2.19,-2.19,NaN,NaN,NaN
15,2024-01-06,Household,Candle (Air Freshener),-,6.75,-6.75,NaN,NaN,NaN
16,2024-01-07,Welcome,Cake,-,6.00,-6.00,NaN,NaN,NaN
17,2024-01-07,Welcome,Flowers,-,5.00,-5.00,NaN,NaN,NaN
18,2024-01-05,Maintenance,Window Cleaner,-,25.00,-25.00,NaN,NaN,NaN
19,2024-01-25,Maintenance,Tarpaulin - Logs,-,12.71,-12.71,NaN,NaN,NaN
20,2024-01-27,Welcome,Flower - Tulips,-,6.00,-6.00,(No receipt for 1 x £3.00),NaN,NaN
21,2024-01-29,Household,Bleach,-,0.60,-0.60,NaN,NaN,NaN
22,2024-01-29,Household,Multi Surface Cleaner,-,0.85,-0.85,NaN,NaN,NaN
23,2024-01-29,Welcome,Wine,-,7.84,-7.84,NaN,NaN,NaN
24,2024-01-29,Welcome,Cake,-,9.00,-9.00,NaN,NaN,NaN
25,2024-01-29,Welcome,Prosecco,-,10.80,-10.80,NaN,NaN,NaN
26,2024-01-25,Household,Fridge Thermometer,-,3.99,-3.99,NaN,NaN,NaN
27,2024-01-31,Household,Baking Soda,-,6.79,-6.79,NaN,NaN,NaN
28,2024-01-25,Furnishings,2 x Pictures,-,27.50,-27.50,NaN,NaN,NaN
29,2024-01-26,Welcome,Coffee,-,15.99,-15.99,NaN,NaN,NaN
30,2024-01-26,Household,Washing Powder,-,12.47,-12.47,NaN,NaN,NaN
31,2024-01-28,Furnishings,500 TC Sheet,-,29.50,-29.50,Ebay,NaN,NaN
32,2024-01-28,Furnishings,Soak & Sleep Bedding,-,83.25,-83.25,Pillow Cases & Replacement Double Duvet Cover,NaN,NaN
33,2024-01-04,Airbnb,Lyndsey 4th-7th,+,285.34,285.34,NaN,NaN,NaN
34,2024-01-10,Airbnb,Ruth 10th-14th,+,321.98,321.98,NaN,NaN,NaN
35,2024-01-08,Private,Rhiannon - Deposit,+,155.00,155.00,NaN,NaN,NaN
36,2024-01-08,Private,Perkins - Balance,+,160.00,160.00,NaN,NaN,NaN
37,2024-01-09,Logs,Lyndsey,+,3.00,3.00,NaN,NaN,NaN

In [ ]:
from IPython.display import clear_output

try:
    del df_dict["Template"]
    del df_dict["Lists"]
except Exception as e:
    print (e)
    
    
for month, month_df in df_dict.items():
    clear_output(wait=True)
    print(f"Displaying - {month}")
    #month_df = df_dict['January']
    display(month_df)
    #per_month_actuals = month_df.groupby('Category')['Actual'].sum()
    #per_month_actuals.head(100)
    input("Press ENTER to see next month")

In [ ]:
# TODO Per month

In [ ]:
month_totals_df.loc['Airbnb']

In [ ]:
# WHERE CLAUSE ?
# Per Category
#display(totals_df)
where_df = month_totals_df.where(month_totals_df['month']=='April 21')
display(where_df)