In [81]:
import pandas as pd
import os as os

In [82]:
def check_file_exists() -> str:
    while True:
        filename = input("Enter filename. Relative paths are acceptable ... \n")
        if os.path.isfile(filename):
            print("File Exists. OK to continue")
            return filename
        else:
            print(f"File {filename} does not exist. Check path and filename.")

# Get the file name and read into a df if exists
xls = check_file_exists()
excel_map = pd.read_excel(xls, sheet_name=None)

# Clean the data of trailing spaces for the Categories column 
for sheet, df in excel_map.items():
    if 'Category' in df.columns:
        # Strip trailing spaces from the 'Category' column values
        df['Category'] = df['Category'].str.rstrip()

Enter filename. Relative paths are acceptable ...
tyb2425.xlsx
File Exists. OK to continue

In [83]:
# Open up excel into an object
# This takes a long time - in production might use different approach
# Was taking a long time due to capacity blank cells pasted into worksheets!
#xls = pd.ExcelFile('tyb2122.xlsx')

# Read sheets into a dictionary of sheets
#excel_map = pd.read_excel(xls, sheet_name=None)
#print(excel_map.keys())

In [84]:
# Copy into a dict just because of naming below. No real need to do this apart from renaming everything below
df_dict = excel_map
print(type(df_dict))

<class 'dict'>

In [85]:
print(df_dict['Aug 2024'])

         Date         Category                         Detail In / Out  \
0  2024-08-01         Mortgage                   Principality        -
1  2024-08-01      Council Tax                       Gywnedd         -
2  2024-08-01      Electricity                           Fuse        -
3  2024-08-01            Water                      Dwr Cymru        -
4  2024-08-01        Broadband                       Vodafone        -
5  2024-08-01       TV Licence                             TV        -
6  2024-08-01          Laundry               Pressing Matters        -
7  2024-08-05      Furnishings                Outdoor Parasol        -
8  2024-08-07          Welcome                           Milk        -
9  2024-08-17          Welcome                           Cake        -
10 2024-08-03          Welcome                        Flowers        -
11 2024-08-17          Welcome                        Flowers        -
12 2024-08-04          Welcome                           Wine        -
13 2024-08-03          Welcome                      Chocolate        -
14 2024-08-24          Welcome                      Chocolate        -
15 2024-08-17          Welcome                           Wine        -
16 2024-08-04        Household             Cleaning Spray x 2        -
17 2024-08-17        Household          Laundry Stain Remover        -
18 2024-08-17        Household              Cif Cream Cleaner        -
19 2024-08-17        Household               Vacuum Freshener        -
20 2024-08-17        Household                  Neutradol x 2        -
21 2024-08-24        Household                 Charging Leads        -
22 2024-08-21      Furnishings                  Dustpan Brush        -
23 2024-08-29        Household                    Bleach x 12        -
24 2024-08-29        Household                   Lint Rollers        -
25 2024-08-29        Household                    E-Cloth Mop        -
26 2024-08-29        Household                Toilet Duck x 3        -
27 2024-08-29        Household                  Glass Cleaner        -
28 2024-08-29          Welcome                Clipper Teabags        -
29 2024-08-30          Laundry              Washes x 2 Duvets        -
30 2024-08-30          Laundry                            Dry        -
31 2024-08-01           Airbnb                Bromley 1st-4th        +
32 2024-08-08           Airbnb               Cropton 8th-13th        +
33 2024-08-14           Airbnb                Ricks 14th-18th        +
34 2024-08-19           Airbnb               Meharg 19th-22nd        +
35 2024-08-28           Airbnb             Gledhill 23rd-26th        +
36 2024-08-06          Private            Holdsworth 29th-2nd        +
37 2024-08-07  Travel Expenses  5 x Round Trips of 25.2 miles        -

    Amount  Actual  Notes Unnamed: 7  Unnamed: 8
0   409.53 -409.53    NaN        NaN         NaN
1     0.00    0.00    NaN        NaN         NaN
2   163.16 -163.16    NaN        NaN         NaN
3    30.50  -30.50    NaN         In     2272.35
4    24.58  -24.58    NaN        Out     -966.16
5    15.00  -15.00    NaN        NaN         NaN
6   104.76 -104.76    NaN      Total     1306.19
7    48.75  -48.75    NaN        NaN         NaN
8     5.00   -5.00    NaN        NaN         NaN
9     3.30   -3.30    NaN        NaN         NaN
10    2.50   -2.50    NaN        NaN         NaN
11    2.39   -2.39    NaN        NaN         NaN
12    4.69   -4.69    NaN        NaN         NaN
13    2.85   -2.85    NaN        NaN         NaN
14    2.75   -2.75    NaN        NaN         NaN
15    5.29   -5.29    NaN        NaN         NaN
16    1.70   -1.70    NaN        NaN         NaN
17    1.49   -1.49    NaN        NaN         NaN
18    1.49   -1.49    NaN        NaN         NaN
19    0.99   -0.99    NaN        NaN         NaN
20    1.98   -1.98    NaN        NaN         NaN
21    4.50   -4.50    NaN        NaN         NaN
22    1.99   -1.99    NaN        NaN         NaN
23    5.38   -5.38    NaN        NaN         NaN
24    7.06   -7.06    NaN        NaN         NaN
25    5.25   -5.25    NaN        NaN         NaN
26    3.45   -3.45    NaN        NaN         NaN
27    2.73   -2.73    NaN        NaN         NaN
28   17.40  -17.40    NaN        NaN         NaN
29   22.00  -22.00    NaN        NaN         NaN
30    7.00   -7.00    NaN        NaN         NaN
31  332.58  332.58    NaN        NaN         NaN
32  517.67  517.67    NaN        NaN         NaN
33  399.10  399.10    NaN        NaN         NaN
34  381.74  381.74    NaN        NaN         NaN
35  341.26  341.26    NaN        NaN         NaN
36  300.00  300.00    NaN        NaN         NaN
37   56.70  -56.70    NaN        NaN         NaN

In [86]:
# Create a list of sheets to ignore
# Iterate over the sheets in the dict created above (misnamed stuff when starting out is all)
# Exclude the sheet if it's in the list
# Do some DQ analysis
# Otherwise - Group the data in the current sheet. Convert in-line to a dataframe
# Concatenate these as we go along
# Group the final sheet up to category level as it is the complete set

exclude_sheets = ['Template', 'Lists']

month_totals_df= pd.DataFrame()
totals_df= pd.DataFrame()

for k in df_dict.keys():
    #print(f"{k =}")
    if k in exclude_sheets:
        #print("Excluded")
        continue
    else:
        
        # Check actuals column for nulls:
        check_nan = df_dict[k]['Actual'].isnull().values.any()
        if check_nan:
            print(f'Null Actuals in sheet: {k}')
        try:
            current_month_df = pd.DataFrame(df_dict[k].groupby('Category')['Actual'].sum())
        except:
            print(f'Error grouping: {k}')
        #Add current month to new dataframe
        current_month_df['month'] = k
        #display(current_month_df.head(10))
        #display(totals_df)
        month_totals_df = pd.concat([month_totals_df, current_month_df], axis=0) #, ignore_index=False)

# Group the months
totals_df = pd.DataFrame(month_totals_df.groupby('Category')['Actual'].sum()).reset_index()
#print(totals_df)
rental_categories = ['Airbnb', 'Cottages', 'Private']

In [87]:
# Format floats to 2 places:
month_totals_df.style.format({"Actual" : ".2f"})
totals_df.style.format({"Actual" : ".2f"})
# Output to csv
month_totals_df.to_csv('categories_all_months.csv', float_format='%.2f')

totals_df.to_csv('category_totals.csv', float_format='%.2f')

In [88]:
# Format floats to 2 places:
# month_totals_df.style.format({"Actual" : "{.2f}"})
month_totals_df.style.format({"Actual": "{:.2f}".format})
#totals_df.style.format({"Actual": "{.2f}"})
totals_df.style.format({"Actual": "{:.2f}"})

In [89]:
print(totals_df)

           Category    Actual
0       Advertising    -12.79
1            Airbnb  12690.08
2         Broadband   -308.22
3       Council Tax      0.00
4       Electricity  -1884.97
5       Furnishings   -309.89
6         Household   -410.94
7         Insurance   -369.57
8           Laundry  -1188.70
9              Logs   -190.00
10      Maintenance  -1941.30
11         Mortgage  -4770.23
12          Private   4116.00
13       TV Licence   -178.25
14  Travel Expenses   -442.26
15            Water   -356.50
16          Welcome   -482.17

In [90]:
print(f'month_totals: {month_totals_df.dtypes}')
print(f'totals: {totals_df.dtypes}')

month_totals: Actual    float64
month      object
dtype: object
totals: Category     object
Actual      float64
dtype: object

In [91]:
print(totals_df.head(100))

           Category    Actual
0       Advertising    -12.79
1            Airbnb  12690.08
2         Broadband   -308.22
3       Council Tax      0.00
4       Electricity  -1884.97
5       Furnishings   -309.89
6         Household   -410.94
7         Insurance   -369.57
8           Laundry  -1188.70
9              Logs   -190.00
10      Maintenance  -1941.30
11         Mortgage  -4770.23
12          Private   4116.00
13       TV Licence   -178.25
14  Travel Expenses   -442.26
15            Water   -356.50
16          Welcome   -482.17

april_df = df['April 21']
print(april_df.head(5))

april_df.columns = ['Date', 'Category', 'Detail', 'In / Out', 'Amount', 'Actual', 'Notes',
       'Unnamed: 7', 'Unnamed: 8']
print(april_df.head(5))

In [92]:
examine_df = df_dict['Mar 2025']
examine_df

,Date,Category,Detail,In / Out,Amount,Actual,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2025-03-01,Mortgage,Principality,-,370.18,-370.18,NaN,NaN,NaN
1,2025-03-01,Council Tax,Gywnedd,-,0.00,0.00,NaN,In,946.00
2,2025-03-01,Electricity,E-on,-,217.03,-217.03,NaN,Out,-1770.89
3,2025-03-01,Water,Dwr Cymru,-,30.50,-30.50,NaN,NaN,NaN
4,2025-03-01,Broadband,Vodafone,-,25.00,-25.00,NaN,Total,-824.89
5,2025-03-01,TV Licence,TV,-,15.00,-15.00,NaN,NaN,NaN
6,2025-03-01,Laundry,Pressing Matters,-,0.00,0.00,NaN,NaN,NaN
7,2025-03-15,Furnishings,Replacement Vase,-,10.50,-10.50,NaN,NaN,NaN
8,2025-03-24,Maintenance,Chimney Sweep,-,130.00,-130.00,NaN,NaN,NaN
9,2025-03-24,Maintenance,Glass Repair Woodburner,-,70.00,-70.00,NaN,NaN,NaN
10,2025-03-01,Maintenance,Heat Alarms & EICR Cert,-,840.00,-840.00,NaN,NaN,NaN
11,2025-03-03,Maintenance,Paint,-,12.34,-12.34,NaN,NaN,NaN
12,2025-03-10,Household,Surface Wipes,-,1.15,-1.15,NaN,NaN,NaN
13,2025-03-10,Welcome,Flowers,-,2.59,-2.59,NaN,NaN,NaN
14,2025-03-06,Household,Washing Powder,-,12.58,-12.58,NaN,NaN,NaN
15,2025-03-01,Private,Rhys Davis,+,946.00,946.00,NaN,NaN,NaN
16,2025-03-02,Travel Expenses,3 x Round Trips of 25.2 miles,-,34.02,-34.02,NaN,NaN,NaN

In [93]:
from IPython.display import clear_output

try:
    del df_dict["Template"]
    del df_dict["Lists"]
except Exception as e:
    print (e)
    
    
for month, month_df in df_dict.items():
    clear_output(wait=True)
    print(f"Displaying - {month}")
    #month_df = df_dict['January']
    display(month_df)
    #per_month_actuals = month_df.groupby('Category')['Actual'].sum()
    #per_month_actuals.head(100)
    input("Press ENTER to see next month")

Displaying - Apr 2024

,Date,Category,Detail,In / Out,Amount,Actual,Notes,Unnamed: 7,Unnamed: 8
0,2024-04-01,Mortgage,Principality,-,409.53,-409.53,NaN,NaN,NaN
1,2024-04-01,Council Tax,Gywnedd,-,0.00,0.00,NaN,NaN,NaN
2,2024-04-01,Electricity,E-On Next,-,225.89,-225.89,NaN,NaN,NaN
3,2024-04-01,Water,Dwr Cymru,-,21.00,-21.00,NaN,In,1662.90
4,2024-04-01,Broadband,Vodafone,-,27.16,-27.16,NaN,Out,-1396.71
5,2024-04-01,TV Licence,TV,-,13.25,-13.25,NaN,NaN,NaN
6,2024-04-01,Laundry,Pressing Matters,-,89.64,-89.64,NaN,Total,266.19
7,2024-04-07,Welcome,Kindling,-,36.00,-36.00,NaN,NaN,NaN
8,2024-04-02,Maintenance,Loft Insulation,-,138.00,-138.00,NaN,NaN,NaN
9,2024-04-01,Welcome,Milk,-,3.00,-3.00,NaN,NaN,NaN
10,2024-04-07,Welcome,Biscuits,-,2.15,-2.15,NaN,NaN,NaN
11,2024-04-02,Welcome,Wine,-,6.79,-6.79,NaN,NaN,NaN
12,2024-04-03,Welcome,Flowers,-,4.39,-4.39,NaN,NaN,NaN
13,2024-04-03,Welcome,Toffee Biscuits,-,1.49,-1.49,NaN,NaN,NaN
14,2024-04-03,Furnishings,New Bathroom Bin,-,4.49,-4.49,NaN,NaN,NaN
15,2024-04-05,Maintenance,Outdoor Daffodils,-,2.50,-2.50,NaN,NaN,NaN
16,2024-04-08,Maintenance,Outdoor Daffodils,-,1.25,-1.25,NaN,NaN,NaN
17,2024-04-06,Household,Germoline (First Aid),-,3.22,-3.22,NaN,NaN,NaN
18,2024-04-20,Household,Lint Roller Refills,-,8.74,-8.74,NaN,NaN,NaN
19,2024-04-20,Furnishings,Bath Towels & Mattress Protector,-,63.95,-63.95,NaN,NaN,NaN
20,2024-04-23,Furnishings,New Bedroom Rug,-,27.49,-27.49,NaN,NaN,NaN
21,2024-04-18,Welcome,Flowers,-,21.40,-21.40,NaN,NaN,NaN
22,2024-04-10,Welcome,Toffee Biscuits,-,1.49,-1.49,NaN,NaN,NaN
23,2024-04-10,Welcome,Flowers,-,2.99,-2.99,NaN,NaN,NaN
24,2024-04-10,Household,Neutradol Spray,-,1.29,-1.29,NaN,NaN,NaN
25,2024-04-10,Household,White Vinegar Spray,-,1.00,-1.00,NaN,NaN,NaN
26,2024-04-12,Household,Bleach,-,5.26,-5.26,NaN,NaN,NaN
27,2024-04-12,Household,Toilet Rolls x 2 Packs,-,38.37,-38.37,NaN,NaN,NaN
28,2024-04-12,Household,Kitchen Roll x 1 Pack,-,20.02,-20.02,NaN,NaN,NaN
29,2024-04-12,Household,Fabric Softener,-,8.98,-8.98,NaN,NaN,NaN
30,2024-04-12,Household,Washing Powder,-,12.58,-12.58,NaN,NaN,NaN
31,2024-04-28,Advertising,Namecheap - Corriscottage.com,-,12.79,-12.79,NaN,NaN,NaN
32,2024-04-29,Household,Firelighters,-,11.60,-11.60,NaN,NaN,NaN
33,2024-04-27,Maintenance,Orbital Sander,-,134.99,-134.99,NaN,NaN,NaN
34,2024-03-31,Airbnb,31/03 - 07/04 Mayle,+,612.14,612.14,NaN,NaN,NaN
35,2024-04-08,Airbnb,08/04 - 13/04 Reach,+,481.04,481.04,NaN,NaN,NaN
36,2024-04-21,Airbnb,21/04 -27/04 Ward,+,569.72,569.72,NaN,NaN,NaN
37,2024-04-22,Travel Expenses,3 x Round Trips of 25.2 miles,-,34.02,-34.02,NaN,NaN,NaN

Press ENTER to see next month

In [94]:
# TODO Per month

In [95]:
month_totals_df.loc['Household']

           Actual      month
Category
Household  -13.73   Mar 2025
Household  -60.26   Jan 2025
Household  -27.74   Dec 2024
Household  -27.86   Nov 2024
Household   -9.98   Oct 2024
Household   -3.99  Sept 2024
Household  -36.02   Aug 2024
Household  -53.63   Jul 2024
Household  -28.86   Jun 2024
Household  -37.81   May 2024
Household -111.06   Apr 2024

In [96]:
# WHERE CLAUSE ?
# Per Category
#display(totals_df)
where_df = month_totals_df.where(month_totals_df['month']=='Apr 2024')
display(where_df)

                  Actual     month
Category
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Furnishings          NaN       NaN
Household            NaN       NaN
Laundry              NaN       NaN
Maintenance          NaN       NaN
Mortgage             NaN       NaN
Private              NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Laundry              NaN       NaN
Maintenance          NaN       NaN
Mortgage             NaN       NaN
Private              NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Household            NaN       NaN
Laundry              NaN       NaN
Mortgage             NaN       NaN
Private              NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Airbnb               NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Household            NaN       NaN
Laundry              NaN       NaN
Maintenance          NaN       NaN
Mortgage             NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Airbnb               NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Household            NaN       NaN
Laundry              NaN       NaN
Maintenance          NaN       NaN
Mortgage             NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Airbnb               NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Household            NaN       NaN
Insurance            NaN       NaN
Laundry              NaN       NaN
Maintenance          NaN       NaN
Mortgage             NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Airbnb               NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Household            NaN       NaN
Laundry              NaN       NaN
Logs                 NaN       NaN
Maintenance          NaN       NaN
Mortgage             NaN       NaN
Private              NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Airbnb               NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Furnishings          NaN       NaN
Household            NaN       NaN
Laundry              NaN       NaN
Mortgage             NaN       NaN
Private              NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Airbnb               NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Furnishings          NaN       NaN
Household            NaN       NaN
Laundry              NaN       NaN
Maintenance          NaN       NaN
Mortgage             NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Airbnb               NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Furnishings          NaN       NaN
Household            NaN       NaN
Laundry              NaN       NaN
Maintenance          NaN       NaN
Mortgage             NaN       NaN
Private              NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Airbnb               NaN       NaN
Broadband            NaN       NaN
Council Tax          NaN       NaN
Electricity          NaN       NaN
Furnishings          NaN       NaN
Household            NaN       NaN
Laundry              NaN       NaN
Maintenance          NaN       NaN
Mortgage             NaN       NaN
TV Licence           NaN       NaN
Travel Expenses      NaN       NaN
Water                NaN       NaN
Welcome              NaN       NaN
Advertising       -12.79  Apr 2024
Airbnb           1662.90  Apr 2024
Broadband         -27.16  Apr 2024
Council Tax         0.00  Apr 2024
Electricity      -225.89  Apr 2024
Furnishings       -95.93  Apr 2024
Household        -111.06  Apr 2024
Laundry           -89.64  Apr 2024
Maintenance      -276.74  Apr 2024
Mortgage         -409.53  Apr 2024
TV Licence        -13.25  Apr 2024
Travel Expenses   -34.02  Apr 2024
Water             -21.00  Apr 2024
Welcome           -79.70  Apr 2024

In [97]:
# Source - https://stackoverflow.com/a
# Posted by starriet 
# Retrieved 2026-01-18, License - CC BY-SA 4.0
pd.set_option('display.min_rows', 500)  # <-add this!
pd.set_option('display.max_rows', 500)

pd.options.display.max_rows

month_totals_df.head(500)

                  Actual      month
Category
Broadband         -25.00   Mar 2025
Council Tax         0.00   Mar 2025
Electricity      -217.03   Mar 2025
Furnishings       -10.50   Mar 2025
Household         -13.73   Mar 2025
Laundry             0.00   Mar 2025
Maintenance     -1052.34   Mar 2025
Mortgage         -370.18   Mar 2025
Private           946.00   Mar 2025
TV Licence        -15.00   Mar 2025
Travel Expenses   -34.02   Mar 2025
Water             -30.50   Mar 2025
Welcome            -2.59   Mar 2025
Broadband         -25.00   Feb 2025
Council Tax         0.00   Feb 2025
Electricity      -217.03   Feb 2025
Laundry           -47.52   Feb 2025
Maintenance      -117.96   Feb 2025
Mortgage         -383.34   Feb 2025
Private           800.00   Feb 2025
TV Licence        -15.00   Feb 2025
Travel Expenses   -22.68   Feb 2025
Water             -30.50   Feb 2025
Broadband         -25.00   Jan 2025
Council Tax         0.00   Jan 2025
Electricity      -217.03   Jan 2025
Household         -60.26   Jan 2025
Laundry             0.00   Jan 2025
Mortgage         -383.34   Jan 2025
Private           800.00   Jan 2025
TV Licence        -15.00   Jan 2025
Travel Expenses   -22.68   Jan 2025
Water             -30.50   Jan 2025
Welcome            -8.38   Jan 2025
Airbnb           1231.99   Dec 2024
Broadband         -25.00   Dec 2024
Council Tax         0.00   Dec 2024
Electricity      -195.10   Dec 2024
Household         -27.74   Dec 2024
Laundry          -157.86   Dec 2024
Maintenance       -91.56   Dec 2024
Mortgage         -396.43   Dec 2024
TV Licence        -15.00   Dec 2024
Travel Expenses   -34.02   Dec 2024
Water             -30.50   Dec 2024
Welcome           -30.93   Dec 2024
Airbnb           1356.49   Nov 2024
Broadband         -25.00   Nov 2024
Council Tax         0.00   Nov 2024
Electricity      -139.26   Nov 2024
Household         -27.86   Nov 2024
Laundry          -124.92   Nov 2024
Maintenance       -20.14   Nov 2024
Mortgage         -396.43   Nov 2024
TV Licence        -15.00   Nov 2024
Travel Expenses   -45.36   Nov 2024
Water             -30.50   Nov 2024
Welcome           -26.44   Nov 2024
Airbnb           1590.93   Oct 2024
Broadband         -25.00   Oct 2024
Council Tax         0.00   Oct 2024
Electricity       -91.08   Oct 2024
Household          -9.98   Oct 2024
Insurance        -369.57   Oct 2024
Laundry           -92.28   Oct 2024
Maintenance       -24.89   Oct 2024
Mortgage         -396.43   Oct 2024
TV Licence        -15.00   Oct 2024
Travel Expenses   -45.36   Oct 2024
Water             -30.50   Oct 2024
Welcome           -40.34   Oct 2024
Airbnb            572.61  Sept 2024
Broadband         -25.00  Sept 2024
Council Tax         0.00  Sept 2024
Electricity      -118.03  Sept 2024
Household          -3.99  Sept 2024
Laundry          -202.68  Sept 2024
Logs             -190.00  Sept 2024
Maintenance       -77.99  Sept 2024
Mortgage         -396.43  Sept 2024
Private           320.00  Sept 2024
TV Licence        -15.00  Sept 2024
Travel Expenses   -34.02  Sept 2024
Water             -30.50  Sept 2024
Welcome           -54.99  Sept 2024
Airbnb           1972.35   Aug 2024
Broadband         -24.58   Aug 2024
Council Tax         0.00   Aug 2024
Electricity      -163.16   Aug 2024
Furnishings       -50.74   Aug 2024
Household         -36.02   Aug 2024
Laundry          -133.76   Aug 2024
Mortgage         -409.53   Aug 2024
Private           300.00   Aug 2024
TV Licence        -15.00   Aug 2024
Travel Expenses   -56.70   Aug 2024
Water             -30.50   Aug 2024
Welcome           -46.17   Aug 2024
Airbnb           1981.02   Jul 2024
Broadband         -27.16   Jul 2024
Council Tax         0.00   Jul 2024
Electricity       150.42   Jul 2024
Furnishings      -115.75   Jul 2024
Household         -53.63   Jul 2024
Laundry          -108.48   Jul 2024
Maintenance      -196.42   Jul 2024
Mortgage         -409.53   Jul 2024
TV Licence        -15.00   Jul 2024
Travel Expenses   -45.36   Jul 2024
Water             -30.50   Jul 2024
Welcome           -76.18   Jul 2024
Airbnb            882.06   Jun 2024
Broadband         -27.16   Jun 2024
Council Tax         0.00   Jun 2024
Electricity      -225.89   Jun 2024
Furnishings       -24.97   Jun 2024
Household         -28.86   Jun 2024
Laundry          -126.32   Jun 2024
Maintenance       -63.68   Jun 2024
Mortgage         -409.53   Jun 2024
Private           950.00   Jun 2024
TV Licence        -15.00   Jun 2024
Travel Expenses   -34.02   Jun 2024
Water             -30.50   Jun 2024
Welcome           -71.36   Jun 2024
Airbnb           1439.73   May 2024
Broadband         -27.16   May 2024
Council Tax         0.00   May 2024
Electricity      -225.89   May 2024
Furnishings       -12.00   May 2024
Household         -37.81   May 2024
Laundry          -105.24   May 2024
Maintenance       -19.58   May 2024
Mortgage         -409.53   May 2024
TV Licence        -15.00   May 2024
Travel Expenses   -34.02   May 2024
Water             -30.50   May 2024
Welcome           -45.09   May 2024
Advertising       -12.79   Apr 2024
Airbnb           1662.90   Apr 2024
Broadband         -27.16   Apr 2024
Council Tax         0.00   Apr 2024
Electricity      -225.89   Apr 2024
Furnishings       -95.93   Apr 2024
Household        -111.06   Apr 2024
Laundry           -89.64   Apr 2024
Maintenance      -276.74   Apr 2024
Mortgage         -409.53   Apr 2024
TV Licence        -13.25   Apr 2024
Travel Expenses   -34.02   Apr 2024
Water             -21.00   Apr 2024
Welcome           -79.70   Apr 2024